<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app needs to access your location even when running in the background to provide continuous tracking and weather updates.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app uses your location to provide real-time weather and driving speed information.&quot;</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
</dict>
</plist>
